$animation-duration: 0.7s;
.cd-nav {
    position: absolute;
    z-index: 9999996;
    width: 100%;
    height: 100%;
    display: block;
    background: $white;
    @include transform(translateX(-100%));
    @include transition(transform $animation-duration - 0.2s);
    @include transition-timing-function(cubic-bezier(.82, .01, .77, .78));
    @include MQ(920px) {
        position: absolute;
        max-height: 100%;
        background: $white url('../img/slide-c-bg.png') no-repeat top left;
    }
	.bk-check--container {
        display: inline-block !important;
        position: relative;
        padding: 0 30px;
        cursor: pointer;
        font-size: 18px;
        user-select: none;
        & input[type=radio] {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked~.checkmark {
                background-color: $brand-green;
                &:after {
                    display: block;
                }
            }
        }
        &:hover input[type=radio]~.checkmark {
            background-color: $brand-primary-color;
        }
        & .checkmark:after {
            left: 9px;
            top: 6px;
            width: 5px;
            height: 10px;
            border: solid $white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 22px;
		width: 22px;
		border-radius: 50%;
        background-color: #758098;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }
    .bk-shop--banner__price-bono{
        color: $dark-grey;
    }
}

.loaded {
    transform: translateX(0);
}

.woocommerce form .form-row .required{
    border: 1px solid $ligth-grey !important;
    color: $dark-grey;
}