.hovereffect {
    width:100%;
    position:relative;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
    .overlay {
        width:100%;
        height:100%;
        @include MQ(M){
            position:absolute;
            top:0;
            left:0;
            opacity:.5;
            background-color:rgba($dark-grey, 0.5);
        }
        @include transition (all .4s ease-in-out);
    }
    img {
        position:relative;
        @include transition (all .4s linear);
        height: auto;
        width: 100% !important;
    }
    h2 {
        text-transform:uppercase;
        @include MQ(M){
            color:$white;
            text-align:center;
            position:absolute;
            width: 100%;
            background:rgba(black, 0.8);
            @include transform(translateY(120px));
        }
        font-size:17px;
        @include transition (all .2s ease-in-out);
        padding:10px;
    }
    .info {
        text-transform:uppercase;
        @include MQ(M){
        position: absolute;
        top: 130px;
        left: 35%;
        z-index: 5;
        opacity:0;
        @include transition (all .2s ease-in-out);}
    }
    .link{
        width:100%;
        height:100%;
        display: block;
    }
    &:hover img {
       // @include transform (scale(1.2));
    }
    &:hover .overlay {
        opacity:1;
        @include filter(alpha(opacity=100));
    }
    &:hover h2{
        opacity:1;
        @include filter(alpha(opacity=100));
        @include transform(translateY(0));
    }
    &:hover .info{
        @include transition-delay(0.2s);
        opacity: 1;
    }
}