.bk-loop--novedades{
	background: $ultra-ligth-grey;
	@include MQ (S){
		background: url('../img/home-promo-bg.png') no-repeat;
		background-size: contain;
	}
	&__slider{
		text-align: center;
		&-txt{
			margin: 25px auto;
			color: $brand-grey;
		}
		&-title{
			color: $brand-second-color;
			max-width: 90%;
			@include MQ (S){
				color: $white;
			}
		}
		&-img{
			width: 100%;
			max-width: 90%;
		}
		& .bk--btn{
			color: $brand-second-color !important;
			border-color: $brand-second-color !important;
			@include MQ (S){
				color: $white !important;
				border-color: $white !important;
			}
		}
	}
	.carousel-item--contenedor {
		overflow: hidden;
		max-height: 480px;
	}
	.carousel-indicators {
		& li{
			background: $ligth-grey;
			height: 5px;;
			border-radius: 25%;
		}
		& .active{
			background: $brand-primary-color;
		}
	}
	
	.carousel-control-next, 
	.carousel-control-prev{
		margin-top: -12%;
	}
	.carousel-control-prev{
		justify-content: flex-start;
	}
	.carousel-control-next{
		justify-content: flex-end;
	}
}