.woocommerce-page div.product div.summary {
	@include MQ(M) {
		width: 30%;
	}
}

.bk-woocommerce {

	.onsale,
	.woocommerce-ordering,
	.woocommerce-result-count,
	.page-title,
	.addquotelistlink {
		display: none !important;
	}

	&--shop {
		&__title {
			color: $brand-grey !important;
			font-size: 20px !important;
			@include MQ(L){
				font-size: 22px !important;
			}
			@include MQ(XL){
				font-size: 26px !important;
			}
		}

		&__btn {
			margin: 0 auto;
		}
	}

	.product {
		text-align: center !important;
	}

	.bk-product--is-hover {
		&::before {
			@include MQ(623px) {
				content: "";
				display: block;
				position: absolute;
				width: 85%;
				height: 90%;
				border: 1px solid $ligth-grey;
				transform: skew(-10deg);
				border-radius: 5px !important;
				top: 0;
				right: 0;
				z-index: 0;
			}
		}
	}
}

.woocommerce-loop-product__link {
	img {
		position: relative;
		z-index: 2;
	}
}

.bk-shop--banner {
	@include MQ(1022px) {
		min-height: 270px;
	}

	background: url('../img/bk-detalle-shop-bg.jpg')no-repeat bottom;
	background-size: cover;
	padding-top: 120px;

	&__txt {
		//max-width: 260px;
	}
}

.bk-product--banner {
	background: url('../img/bk-detalle-moto-bg.jpg')no-repeat bottom;
	background-size: cover;
	padding-top: 20px;

	@include MQ(M) {
		padding-top: 100px;
		min-height: 500px;
	}
}

.woocommerce-pagination {
	width: 100%;
}

.attachment-woocommerce_thumbnail {
	padding: 10px;
	width: 100%;
	height: auto;
}

.bk-wc-category--list {
	display: none;

	@include MQ(L) {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}

.bk-wc-category--list__item {
	text-transform: uppercase;
	color: $brand-grey;
	cursor: pointer;

	&.active {
		color: $brand-primary-color !important;

		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			background: $brand-primary-color;
		}
	}
}

.bk-bg-grey {
	background: #8A92A7;
	color: $white;
}

.bk-triangle-grey {
	background: #8A92A7;
	min-height: 250px;
	width: 100%;
	clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 100%);
	position: absolute;
	z-index: 0;
	margin-top: -249px;
}

.bk-product--attr {
	&__ul {
		display: block;

		@include MQ(M) {
			display: flex;
		}
	}

	&__li {
		padding: 0 10px;
		margin: 20px 0;
		border-bottom: 1px solid $white;

		@include MQ(M) {
			&:nth-child(odd) {
				border-right: 1px solid $white;
				border-left: 1px solid $white;
			}

			border-bottom: none;
		}

		@include MQ(L) {
			padding: 0 20px;
		}

		&:first-child {
			border-left: none;
		}

		&:last-child {
			border-right: none;
			border-bottom: none;
		}

		h4 {
			padding-top: 10px;
			font-size: 19px;

			@include MQ(L) {
				font-size: 22px;
			}
		}

		p {
			font-size: 14px;

			@include MQ(L) {
				font-size: 18px;
			}
		}
	}

	&__title {
		margin: 0;
	}
}

.page-link {
	color: $brand-primary-color !important;
}

.page-item.active .page-link {
	background: $brand-primary-color !important;
	border-color: $brand-primary-color !important;
	color: $white !important;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li {
	text-align: center;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
	width: 33%;
	float: none;
	margin: 0 auto !important;
}

.single.single-product .bk-home--video {
	cursor: pointer;

	@include MQ(M) {
		margin-top: -60px;
	}
}

.bk-product-gallery--banner {
	background: #8A92A7;
	background-size: cover;
}

.bk-shop--banner {
	color: $white;

	&__price-bono {
		color: $white;
		@include MQ(L){
			font-size: 21px;
		}
		h4 {
			font-size: 22px;
			margin: 0;
		}
	}

	&__price-normal {
		color: $brand-primary-color !important;

		h2 {
			font-size: 42px;
			margin: 0;
			@include MQ(L){
				font-size: 62px;
			}
		}
	}
}

#bk--sound-group {
	width: 100%;

	@include MQ(M) {
		position: absolute !important;
		bottom: 10px;
	}
}

.woocommerce-product-gallery {
	&__wrapper {
		position: relative;
		z-index: 2;
	}
}