.bk-dealer {
    &--row {
        min-height: 60vh;

        @include MQ(L) {
            max-height: 80vh;
        }

        &-item {
            overflow-y: scroll;
        }
    }

    .post-type-archive-concesionarios &--content {
        display: none;
    }

    &--card {
        &__img {}

        &__txt {
            padding: 20px;
        }
    }

    &--detail {
        li.nav-item {
            width: 30%;
            margin-right: 1%
        }
    }

    &--icon {
        font-size: 56px;
        color: $brand-primary-color;
    }

    &--select{
        select {
            appearance: none;
            outline: 0;
            box-shadow: none;
            border: 0 !important;
            background: $ligth-grey;
            background-image: none;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0 0 0 .5em;
            //color: $white;
            cursor: pointer;
            &::-ms-expand{
                display: none;
            }
        }
        position: relative;
        display: block;
        width: 220px;
        height: 45px;
        line-height: 3;
        background: $dark-grey;
        overflow: hidden;
        margin: 0 auto;
        &::after{
            content: '\25BC';
            color: $brand-primary-color;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            padding: 0 1em;
            background: $brand-second-color;
            pointer-events: none;
            transition: .25s all ease;
        }
        &:hover::after{
            color: $white;
        }
    }

}

.cn-service-icon {
    width: 33.333%;

    &::before {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
    }
}

.cn-Venta {
    &::before {
        background: url('../img/motorcycle-cn.jpg') no-repeat center center;
        background-size: contain;
    }
}

.cn-Servicios {
    &::before {
        background: url('../img/service-cn.jpg') no-repeat center center;
        background-size: contain;
    }
}

.cn-Repuestos {
    &::before {
        background: url('../img/racing-cn.jpg') no-repeat center center;
        background-size: contain;
    }
}

.bk-distribuidores li {
    padding: 5px 0;
    text-align: left;
}

.bk-marker {
    color: $brand-grey;
}

.marker.active {
    transition: ease-in-out all .5s;
    background: $ultra-ligth-grey;
    overflow: hidden;
    height: 90px;

    &::before {
        transition: ease-in-out all .5s;
        content: "";
        width: 5px;
        height: 100%;
        display: block;
        background: $brand-primary-color;
        float: left;
        margin-right: 5px;
    }

    .bk-marker h4 {
        color: $brand-primary-color;
    }
}

#style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar {
    width: 16px;

    @include MQ(M) {
        width: 6px !important;
    }

    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba($dark-grey, .3);
    background-color: $ligth-grey;
}

.pills-navigation {
    .nav-pills .nav-link {
        &.active {}
    }

    .nav-link.active {
        background: $brand-second-color !important;

        &:hover {
            color: $white !important;
        }
    }

    li.nav-item {
        text-align: center;
        transform: skew(-12deg);
        background: $ultra-ligth-grey !important;
        margin-right: 6px;
    }

}