.bk-home{
    &--search{
        background: url('../img/home-search-bg.png');
        background-size: cover;
        min-height: 500px;
        &__content{
            min-height: 500px;
        }
        &__icons{
            font-size: 3em;
        }
        &__form{
            min-width: 90%;
            @include MQ(M){
                min-width: 450px;
            }
        }
    }
    &--video{
        background: $ligth-grey;
        background-size: cover;
        padding-top:40px;
        @include MQ(M){
            padding-top: 0;
            border-top: 150px solid $ligth-grey;
            border-bottom: 50px solid $ligth-grey;
            clip-path: polygon(100% 0, 100% 100%, 40% 90%, 0% 100%, 0 0, 50% 10%);
            .page-home & {
                position: relative;
                top: -70px;
            }
        }
        @include MQ(XL){
            border-bottom: 100px solid $ligth-grey;
        }
        &__img{
            display: none;
            @include MQ(992px){
                display: block;
                position: absolute;
                right: 0;
                width: 100%;
                height: 500px;
                max-width: 700px;
                margin-top: -120px;
                margin-right: -180px;
                @include MQ(L){
                    margin-right: -120px;
                }
                @include MQ(XL){
                    margin-right: -10px;
                }
                &-home {
                    background: url('../img/home-video-thu.png') no-repeat;
                    background-size: contain;
                    background-position: 200px center;
                    @include MQ(L){
                        background-position: 100px center;
                    }
                    @include MQ(XL){
                        background-position: 70px center;
                    }
                }
            }
        }
        &__icon{
            position: relative;
            @include center();
        }
    }
    &--promo{
        &__card{
            position: relative;
        }
        &__content{
            color: $white;
            text-transform: uppercase;
            width: 90%;
            transition: .3s all ease-in-out;
            @include centerer;
            & img{
                padding-bottom: 10px;
            }
        }
        &__link{
            &:hover{
                .bk-home--promo__content{
                    color: $brand-primary-color;
                }
                figure img{
                    filter: grayscale(80%) blur(2px);
                }
            }
            & figure img{
                filter: grayscale(0) blur(0);
                transition: .3s ease-in-out;
            }
        }
    } 
}

.bk-home--promo__content figure img {
	filter: grayscale(0) blur(0);
	transition: .3s ease-in-out;
}
.bk-home--promo__content figure:hover img {
	filter: grayscale(100%) blur(3px);
}
